/* #rollset_template {
  display: none;
}

#roll_template {
  display: none;
} */

#roll_button_template {
  display: none;
}

#roll_result_template {
  display: none;
}

#rollsets {
  display: block;
}


.rollset {
  border: 2px black;
  border-style: solid;
  display: block;
  clear: left;
  margin-top: 5px;
  padding: 3px 2px;
  overflow-x: auto;
  width: 100%;
}

.rollset_rolls > div {
  margin-left: 3px;
  margin-right: 3px;
}

.rollset_rolls {
   display: flex;
   height: auto;
   overflow-x: auto;
   margin: 7px 3px;
   max-width: 100%;
}

.roll {
  float: left;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 2px #CCCCCC;
  border-style: solid;
  padding: 2px 5px;
  width: 7em;
  min-width: 7em;
  overflow-x: auto;
}

.result_line_start {
  margin-top: 0.5em;
  margin-right: 3px;
  clear: left;
}

.roll .large {
  font-size: 1.5em;
}

.emphasized {
  font-weight: bold;
}

.dmg_header {
  display: flex;
  flex-direction: row;
}

.roll_name_row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.add_roll_div {
  clear: left;
  margin: auto 3px;
}

.roll_individual_initiative {
  margin-right: 0.25em;
}

.rollset_title_row {
  display: flex;
  align-items: baseline;
}

.rollset_roll_group_initiative {
  color: gray;
  padding: 0 0.5em;
  text-decoration: underline;
  cursor: pointer;
}

.remove_row {
  color: gray;
  text-decoration: underline;
  text-align:center;
  cursor: pointer;
}

.rollset_rolls {
  height: inherit;
}

.roll_buttons {
  height: inherit;
  display: flex;
  flex-direction: column;
}

.roll_button {
  display: inline-block;
  float: left;
  height: inherit;
}

.multiroll_button {
  flex-grow: 7;
}

.roll_initiative_button {
  flex-grow: 1;
}

.rollset_name {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 5px;
  margin-left: 5px;
}

.roll_result_container {
  display: flex;
  flex-direction: column;
  align-items: bottom;
  vertical-align: middle;
  height: inherit;
  font-size: 2em;
  min-width: 5em;
}

.rollset_group_initiative {
  font-size: 1.5em;
}

.result_line > * {
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
}

 .remove_roll {
    margin-block-start: 2.5em;
    margin-block-end: 1em;

    color: gray;
    text-decoration: underline;
    text-align:center;
    cursor: pointer;
 }

.data_storage {
  margin: 1em auto;
}

#add_new_rollset {
  height: 2em;
}

.add_roll {
  height: 2em;
}

.dice_input {
  width: 5em;
}
